# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/tmp
**/bin
**/bin/Debug/
**/obj/Debug/
**/obj
Debug/

# dependencies
**/node_modules
**/**/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# IDE - VSCode
.vscode/*
.vs/*
.vs/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
npm-debug.log
/mtg-tally.Server/Properties/PublishProfiles/**
