<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f74774f3-e2a9-4534-805c-da8e2d2d6b31/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/mtg-tally</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <ApiResourceId>/subscriptions/f74774f3-e2a9-4534-805c-da8e2d2d6b31/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.ApiManagement/service/mtg-tallyServerapi/apis/mtg-tallyServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mtg-tally.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>31e44a19-203c-4df8-b1f8-2173f73f4a21</ProjectGuid>
    <MSDeployServiceURL>mtg-tally.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mtg-tally</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>